{% extends "base.html" %}

{% block content %}
    <h3>Введите пароль, а модель оценит насколько часто он встретится среди 1,000,000 случайных паролей:</h3>
    <div class="row center-lg">
            <form class="password-form" action= "{{ url_for('predict_frequency') }}" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.password() }}
                </div>
                {{ form.submit() }}
            </form>
        </div>
        <br>
        {% set previous_password=password or "" %}
        {% if previous_password != "" %}
            <h3>Пароль {{previous_password}} встретится {{prediction}} раз</h3>
        {% endif %}
    </div>
{% endblock %}